.title
{   
    font-size: 16pt ;
    text-align: left;
    background-color: rgb(255, 255, 255);
    float: inline-end;
    opacity: 0.8;
   
}
.outside
{
    display: block;
    width: AUTO;
    margin-left: 11.6vw;
    /*
    justify-content: center;
    */
}

.block
{
    float: left;
    margin-top: 1%;
    margin-right: 1%;
    height: auto;
    width: 25%;
    border-radius: 8pt;
    background-color: #ffffff;
    padding: 3%;
}
.list 
{
    /*
    display: none;
    */
    height: auto;
    text-align: left;
}

li
{
    list-style: none;
    text-align: left;
}
.al
{   
    font-size: 14pt ;
    color: #007C9D;
    text-decoration: none;
}
.ls:hover
{
    width: 100%;
    background-color: azure;
    opacity: 0.5;
}

.underline
{
    height: 5px;
    width:auto;
    background-color: #F0B31C;
}

