.block
{
    margin: 0px auto;
    text-align: center;
    width :80%;
    height: auto;
    background-color: aqua;
}
.block:hover
{
    background-color: rgb(160, 241, 241);
    
}
li
{
    list-style: none;
}
.outside
{
    display: block;
    height: auto;
    justify-content: center;
}

.ptitle
{
    font-size: 3rem;
    margin: 1rem auto;
}

.clicked
{
    display: none;
}