.block
{
    margin: 10px auto;
    text-align: center;
    width :80%;
    height: auto;
    background-color: #ffffff;
    border-radius:10px;
    
}
.block:hover
{
    background-color: rgb(160, 241, 241);
    
}
.blocklist
{   
    margin: 5px auto;
    text-align: center;
    width :90%;
    height: auto;
    background-color: #007C9D;
    border-radius:10px;
}
.al
{   
    font-size: 14pt ;
    color: #ffffff;
    text-decoration: none;
 
}
.ls
{
    background-color: #007C9D;
    margin: 5px auto;
    border-radius:10px;
    width :90%;
    padding: 1%;
}
li
{
    list-style: none;
}
.outside
{
    display: block;
    height: auto;
    justify-content: center;
}
.empty
{
    display: none;
}
.title
{
    background-color: #F0B31C;
    border-radius:10px;
    padding: 1px;
    
    

}
.ptitle
{   
    color: #ffffff;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.clicked
{
    display: none;
}

/*hhhhh*/