.block
{
    margin: 20px auto;
    text-align: center;
    width :80%;
    background-color: #ffffff;
    border-radius:10px;
}



.al
{   
    font-size: 14pt ;
    color: #ffffff;
    text-decoration: none;
    
}

.ls
{
    background-color: #007C9D;
    margin: 10px auto;
/*
    border-radius:10px;
*/    
    width :90%;
    padding: 1%;
    height: auto;
}

li
{
    list-style: none;
}

.outside
{
    display: block;
    height: auto;
    justify-content: center;
}

.title
{
    background-color: #f0b31c;
    /*
    border-radius:10px;
    */
    padding: 1px;
    
}


.ptitle
{   
    color: #ffffff;
    font-size: 1.5rem;
    margin: 1rem auto;
}


.list
{
    height: auto;
    overflow: hidden;
    transition:height 1s;
    transition-timing-function:cubic-bezier(0.75, 0, 0.53, 1.1);
   
}
