.cnc-link 
{
    padding: 0.5em;
    width: fit-content;
    color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
    text-decoration: none;
}
.cnc-link:hover .cnc-img 
{
    background-color: #E8F4FF;
    border: #3ea2ff solid 1px;
}
.cnc-img 
{
    padding: 0.2em;
    min-width: 3em;
    min-height: 3em;
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
    border-radius: 100%;
    border: #c8e4ff solid 1px;
    background-color: #F2F9FF;
    transition: border 0.2s ease, background-color 0.2s ease;
}


.cnc-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.3em;
}

.cnc-title {
    display: flex !important;
    flex-direction: row;
    color: white;
}

.cnc-title::before {
    content: '';
    width: 1.5em;
    background-color: #F9BC36;
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 40% 100%);
    /* Fix gap */
    position: relative;
    right: -1px;
}

.cnc-title>b {
    padding: 0.3em 0.8em;
    background-color: #F9BC36;
    box-shadow: 3px 3px 15px 1px rgb(0, 0, 0, 0.2);
}

/* Frequently link */

.freq-block {
    border-radius: 0.3em;
    padding: 1.8em;
    min-height: 1em;
    box-shadow: 3px 3px 15px 1px rgb(0, 0, 0, 0.1);
}

.freq-row {
    display: flex;
    flex-wrap: wrap;
}

.freq-col {
    width: 25%;
}

.freq-card {
    color: gray;
    text-align: right;
    text-decoration: none !important;
}

.freq-content:visited {
    color: gray;
}

.freq-content:hover {
    background-color: #F9BC36;
    color: white;
}

.freq-content:hover>span::before {
    left: 0.4em;
    
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(346deg) brightness(200%) contrast(97%);
    
}

.freq-content>a {
    background-color: #F9BC36;
}

.freq-content {
    margin-bottom: 1em;
    padding: 2em 1em 1em 1em;
    border-top: rgb(240, 240, 240) solid 1px;
    box-shadow: 0 0 36px rgb(0 0 0 / 10%);
    font-size: 1.3em;
    border-radius: 0.5em;
    border: #e9e9e9 solid 1px;
    transition: all 0.2s ease;
}

.freq-content>span::before {
    content: "";
    position: relative;
    left: 0.2em;
    padding: 0em 0.6em;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(346deg) brightness(60%) contrast(97%);
    background-image: url("data:image/svg+xml;utf8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M11.7 5.3l-5-5c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4L8.6 5H1c-.6 0-1 .4-1 1s.4 1 1 1h7.6l-3.3 3.3c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l5-5c.4-.4.4-1 0-1.4z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(2 2)'%3E%3Cmask id='b' fill='%23425066'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23425066' xlink:href='%23a'/%3E%3Cpath fill='%23425066' fill-rule='nonzero' mask='url(%23b)' d='M0 0h12v12H0z'/%3E%3C/g%3E%3Cpath fill='none' d='M2 2h12v12H2z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.2s ease;
}

/* End of frequently link */

.cnc-flex-center {
    align-items: center;
    display: flex;
}

.cnc-fav-link-img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container::after {
    margin-top: 40px;
}