.cnc-link
{
    padding: 0.5em;
    width: fit-content;
    color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
    text-decoration: none;
    
}

.cnc-link:hover .cnc-img
{
    background-color: #E8F4FF;
    border: #3ea2ff solid 1px;
}

.cnc-img 
{
    padding: 1.55em;
    min-width: 3em;
    min-height: 3em;
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
    border-radius: 100%;
    border: #c8e4ff solid 1px;
    background-color: #F2F9FF;
    transition: border 0.2s ease, background-color 0.2s ease;

}
.cnc-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.3em;
}
/*----Titlt----*/
.cnc-title 
{
    display: flex !important;
    flex-direction: row;
    color: #2a2a20cb;
    
}
.cnc-title::before
{
    content: '';
    padding: 0.18em 1em;
    position: relative;
    right: -0.3px;
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
    background-color: #F8BC37;
}
.cnc-title>b
{
    padding: 0.2em 1em;
    background-color: #F8BC37;
    box-shadow: 3px 3px 15px 1px rgb(0, 0, 0, 0.2);
    
}
/*--------*/
.cnc-flex-center
{
    align-items: center;
    display: flex;
}
.cnc-fav-link
{
    padding: 0.8em;
    width: fit-content;
    color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
    text-decoration: none;
}
.cnc-container
{
    border-radius: 10px;
    border: #dbdbdb solid 1px;
    box-shadow:  3px 3px 15px 1px rgba(0, 0, 0, 0.096) ;
    padding: 1.8em;    
    min-height: 1em;
}

.cnc-frequenly-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cnc-row-reverse
{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
}
.cnc-frequenly-card,.cnc-list-card
{
    text-decoration: none !important;
    color: gray;
    text-align: left;
}
.cnc-frequenly-content,.cnc-list-content
{
    
    padding: 2em 1em 1em 1em;
    margin-bottom:1em ;
    border: rgba(189, 189, 189, 0.411) solid 1px;
    border-radius: 10px;
    font-size: 1.3em;
    box-shadow:  3px 3px 15px 1px rgba(0, 0, 0, 0.096) ;
    transition: background-color 0.2s ease;
}
.cnc-frequenly-content:hover,.cnc-list-content:hover
{
    background-color:rgb(240,179,28) ;
    color: #ffffff;
}
.cnc-frequenly-content>span::before,.cnc-list-content>span::before
{
    content: '';
    position: relative;
    left: 0.2em;
    padding: 0em 0.6em;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M11.7 5.3l-5-5c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4L8.6 5H1c-.6 0-1 .4-1 1s.4 1 1 1h7.6l-3.3 3.3c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l5-5c.4-.4.4-1 0-1.4z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(2 2)'%3E%3Cmask id='b' fill='%23425066'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23425066' xlink:href='%23a'/%3E%3Cpath fill='%23425066' fill-rule='nonzero' mask='url(%23b)' d='M0 0h12v12H0z'/%3E%3C/g%3E%3Cpath fill='none' d='M2 2h12v12H2z'/%3E%3C/g%3E%3C/svg%3E");
    filter: brightness(60%) contrast(10%);
    transition: left 0.2s ease;
}
.cnc-frequenly-content:hover>span::before,.cnc-list-content:hover>span::before
{
    left: 0.4em;
    filter: brightness(5);
}
.bi-trash
{
    fill: red;
    height: 1.5em;
    width: 1.5em;
}

#cnc-clean-btn
{
    /*
    */
    padding: 0.5em 2em;
    background-color: rgb(52,144,173);

    width: 10em;
    max-height: 3em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: 1em;
    transition: background-color 0.6s ease;
}
#cnc-clean-btn:hover 
{
    background-color: rgb(240,179,28);
}

#cnc-clean-btn>b
{
    transition: color 0.6s ease;
    color: #ffffff;
}
#cnc-clean-btn:hover>b
{
    color: rgba(0, 0, 0, 0.589);
}
#cnc-frequenly-use-container
{
    display: none;
}
#cnc-sub-stream
{
    margin-top: 30px;
}
.cnc-list
{
    height: 26em;
    padding: 0.5em 1em;
    overflow: hidden;
    border-radius: 10px;
    border: #dbdbdb solid 1px;
    box-shadow:  3px 3px 15px 1px rgba(0, 0, 0, 0.096) ;
    min-height: 1em;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
}  

.cnc-list.cnc-list-h
{
    height: 3em ;
}

.cnc-list-title
{
    margin-top: 0em !important;
}
.cnc-list-title>span
{
    content: '';
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25em;
    height: 1.25em;
    width: 1.25em;
    float: right;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    filter: brightness(60%) contrast(10%);
    
}
.cnc-list-title:hover>span
{
    
    filter: brightness(1) contrast(100%);
    
    
}
.cnc-list-row
{
    display: block;
    cursor: pointer;
}
.cnc-list-scrollbar::-webkit-scrollbar
{
    
    display: none;
}
.rotate
{
    transform: rotate(-180deg);
}

@media screen and (max-width:1192px)
{
    .cnc-list-inside 
    {
        height: 22em;
    }
    .cnc-list-scrollbar
    {
        overflow-y: scroll;
    }
}


@media screen and (max-width: 768px)
{

    .cnc-container
    {
        border-radius: 10px;
        padding: 0.1em;    
        min-height: 1em;
    }
    .cnc-list-inside
    {
        height: 22em;

    }
    .cnc-container::after
    {
        margin: 0px;
    }
    .cnc-frequenly-row
    {
        flex-wrap: nowrap;
    }
    .cnc-frequenly-content
    {
        display: flex;
        height: 9em;
        width: 9em;
        padding: 3em 1em 1em 1em;
        font-size: 1.1em;
        box-shadow:  3px 3px 15px 5px rgba(0, 0, 0, 0.096) ;
    }
    .cnc-list-content
    {
        padding: 0.5em;
        font-size: 1em;
        text-align: center;
    }
    .cnc-list-content>span::before,.cnc-frequenly-content>span::before
    {
        display: none;
    }
    .cnc-frequenly-content>span::before
    {
        top: 0.15em;
        background-size: contain;
        font-size: 1.1em;
    }
    
    .cnc-frequenly-title
    {
        margin: 0.5em !important;
    }
    
}
